@page "/"
@inject IModalService ModalService
<PageTitle>Home</PageTitle>

<Dialog EventType="EventTypes.DeleteCancel"></Dialog>

<h3>Modal Demo</h3>

<button class="btn btn-primary" @onclick="ShowCounter">Show Employee Details</button>
<button class="btn btn-primary" @onclick="ShowWeather">Show Weather Details</button>

@code {
    private async Task ShowCounter()
    {
        var component = typeof(Counter);
        await ModalService.ShowAsync(title: "Counter", component, EventTypes.Ok, message: "Below are the details:");
    }

    private async Task ShowWeather()
    {
        await ModalService.ShowAsync<Weather>(title: "Weather", EventTypes.DeleteCancel, message: "Below are the details:");
    }
}
