<div class="modal-footer">
    <div class="dialog-footer">
        @{
            if (FooterTemplate is not null)
            {
                @FooterTemplate
            }
        }
    </div>
</div>