@{
    if (ShowFooter)
    {
        <div>
            <div class="modal-footer">
                @{
                    if (FooterTemplate is not null)
                    {
                        @FooterTemplate
                    }
                    else
                    {
                        <ActionButton ButtonType="@(ButtonType)"></ActionButton>
                    }
                }
            </div>
        </div>
    }
}